asgiref==3.6.0
backports.zoneinfo==0.2.1
crispy-bootstrap5==0.7
Django==4.1.5
django-crispy-forms==1.14.0
django-password-reset==2.0
django-phonenumber-field==7.0.2
Django-Verify-Email==2.0.3
mysqlclient==2.1.1
phonenumbers==8.13.5
Pillow==9.4.0
sqlparse==0.4.3
