{#{% load cart_tag %}#}
{#{% load crispy_forms_tags %}#}
{#{% include 'alexadashcams/navbar2.html' %}#}
{#<div class="container py-5 mb-5">#}
{#    <div class="alert alert-primary" role="alert">#}
{#        <div class="text-center">#}
{#            Accept the Mpesa Prompt on your phone  to complete payment. Once done  <a href="{% url 'mpesa_order_add' %}" class="alert-link"> Click Me</a>#}
{##}
{#          <div class="spinner-border spinner-border-sm ms-auto" role="status" aria-hidden="true"></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
