{% include 'main/base.html' %}
<div class="container py-3">
    <div id="OurBlog">
        <h1 class="fw-bolder display-4 text-center pt-5 text-light"> Our Blog</h1>
        <h6 class="text-center fs-6 text-light pb-5 ">Expand your knowledge and broaden your horizons with our blog posts.</h6>
    </div>
    <section class="pt-5 mt-5">
        {% for blog in blogs %}
            <div class="card mb-3 mx-auto bg-transparent shadow-sm border-0" style="max-width: 840px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{ blog.blog_image.url }}" class="img-fluid rounded-start"  alt="Zamil_Farm_Blog_image">
                </div>
                <div class="col-md-8">
                  <div class="card-body px-5">
                      <a class="text-decoration-none" href="{% url 'blog-detail' blog.id %}"><h2 class="card-title f-color-primary fw-bold">{{ blog.title }}</h2></a>
                    <p class="card-text">{{ blog.description}}</p>
                    <p class="card-text"><small class="text-muted fw-bold f-color-secondary pe-4">Author: {{ blog.author }}</small> <small class="text-muted f-color-secondary fw-bold">Last updated on {{ blog.updated_on }}</small></p>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    </section>
</div>

<!-- FOOTER -->
  <footer class="container pt-1 mt-4">
      <p class="float-end">
          <a class="text-dark" href="https://www.facebook.com/ZamilFarmKe"><i class="bi bi-facebook pe-2"></i></a>
          <a class="text-dark" href="https://twitter.com/ZamilFarms?t=zldy7I3Z0r4-MScBCfN48Q&s=09"><i class="bi bi-twitter pe-2"></i></a>
          <a class="text-dark" href="https://instagram.com/zamilfarms?igshid=ZDc4ODBmNjlmNQ=="><i class="bi bi-instagram pe-2"></i></a>
          <a class="text-dark" href="https://youtube.com/@ZamilFarmsLTD?feature=share7"><i class="bi bi-youtube pe-4"></i></a>
          <a href="#">Back to top</a></p>
    <p>&copy; 2023 Zamil Farms. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
<!-- FOOTER -->