{% load crispy_forms_tags %}
{% include 'user/user_base.html' %}
<div class="container p-5 my-5 bg-main rounded">
    <h1 class="display-5 text-center fw-bolder f-color-primary">Zamil Farms</h1>
    <div class="alert alert-primary" role="alert">
        <div class="text-center">
            Please confirm your account in an email sent to you, to activate your account before proceeding.
        </div>
    </div>
    <div class="cart_buttons d-flex justify-content-between">
        <a href="{% url 'request-new-link-from-email'%}"><button type="button" class="btn btn-outline-dark">Send Verification email</button></a>
        <a href="{% url 'login'%}"><button type="button" class="btn btn-success rounded border-0" > Proceed to Login
        <div class="spinner-border spinner-border-sm ms-auto" role="status" aria-hidden="true"> </div>
        </button></a>
    </div>
</div>
