{% load crispy_forms_tags %}
{% include 'user/user_base.html' %}
<div class="container py-5 my-5 bg-main">
    <h1 class="display-5 fw-bolder f-color-primary text-center">Zamil Farms</h1>
    <p class="text-dark text-center">Earn more with less effort thanks to Zamil Farms' cost-effective goat breeds</p>
    <div class="alert alert-success" role="alert">
        <div class="text-center">
            <h3 class="fw-bolder f-color-primary text-center">Email Sent</h3>
            <p class="text-dark text-center">You have requested another verification email!</p>
            <p class="text-center text-dark">Your verification link has been sent</p>
        </div>
    </div>

</div>