{% include 'user/user_base.html' %}
{% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5 ">
    <div class="row align-items-center mt-5 shadow-sm bg-main rounded p-5" id="AuthRow">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
       {% endif %}

        <div class="col-sm-6 px-5">
            <h1 class="display-5 fw-bolder f-color-primary">Zamil Farms</h1>
            <p class="text-dark">Earn more with less effort thanks to Zamil Farms' cost-effective goat breeds</p>
        </div>
        <div class="col-sm-6 px-5 border-start">
            <h3 class="fw-bold">Register</h3>
            <form method="POST">
                {% csrf_token %}
                {{ register_form|crispy }}
                <button class="btn btn-dark bg-tertiary" type="submit">Register</button>
            </form>
            <p class="text-left">If you already have an account, <a href="{% url 'login' %}" class="f-color-primary fw-bold">login</a> instead.</p>
        </div>
    </div>
</div>


