{% include 'main/base.html' %}

<div class="container py-3 text-start">
    <div class="row">
          <div class="col-sm-2  border px-0">
                <div class="mx-3">
                      <h5 class="fw-bold text-blue pt-3">Sort By Price</h5>
                      <div class="ps-2">
                          <form method="POST" enctype="multipart/form-data" id="CourseListForm" action="{% url 'product-list'%}">
                               {% csrf_token %}
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="RadioCourse" id="all_level" value="all_level" {% if radio == "all_level" %}checked="checked" {% endif %}/>
                                  <label class="form-check-label" for="all_level">
                                    All Levels
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="RadioCourse" id="beginner" value="beginner"
                                    {% if radio == "beginner" %}
                                    checked="checked"
                                    {% endif %}/>

                                  <label class="form-check-label" for="beginner">
                                    Beginner
                                  </label>
                                </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="RadioCourse" id="Intermediate" value="Intermediate" {% if radio == "Intermediate" %}checked="checked" {% endif %}/>
                                  <label class="form-check-label" for="Intermediate">
                                    Intermediate
                                  </label>
                                </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="RadioCourse" id="Expert" value="Expert" {% if radio == "Expert" %}checked="checked" {% endif %}/>
                                  <label class="form-check-label" for="Expert">
                                    Expert
                                  </label>
                                </div>
                          </form>
                          <hr>
                      </div>
                      <h5 class="fw-bold text-blue pt-0">Sort By Category</h5>
                </div>
          </div>

      <div class="col-sm-10 p-4">
         <h2 class="fw-bolder headers text-blue text-left">Products</h2>
            <section>
                  <div class="container py-2">
                        <div class="row row-cols-1 bg-main row-cols-lg-4 row-cols-md-2 g-4">
                            {% for product in products %}
                                  <div class="col mb-4 bg-light shadow-sm py-3">
                                        <div class="bg-image">
                                                {% if product.productimage_set.first.image.url == "" %}
                                                    <img class="ProductImages" src="/static/main/images/zamil_farm_default.jpg"  style="height:200px; object-fit: cover;" alt="...">
                                                {% else %}
                                                    <img src="{{ product.main_image.url}}"  class="img-fluid"  alt="...">
                                                {% endif %}
                                              <a href="{% url 'product-detail' product.id %}">
                                                    <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
                                                          <div class="d-flex justify-content-start align-items-start h-100">
                                                            <h4><span class="badge bg-light pt-2 ms-2 mt-3 f-color-primary">{{product.product_name}}</span></h4>
                                                            <h4><span class="badge bg-light pt-2 ms-2 mt-3 text-dark">Kes: {{product.price}}</span></h4>
                                                          </div>
                                                    </div>
                                              </a>
                                        </div>
                                        <a class="text-decoration-none" href="{% url 'cart_add' product.id %}">
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-dark bg-tertiary" type="button">Add to cart</button>
                                            </div>
                                        </a>
                                  </div>
                            {% endfor %}
                        </div>
                  </div>
            </section>
        </div>
      </div>
    </div>


<!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><i class="bi bi-linkedin pe-2"></i> <i class="bi bi-facebook pe-2"></i> <i class="bi bi-twitter pe-2"></i> <i class="bi bi-instagram pe-4"></i> <a href="#">Back to top</a></p>
    <p>&copy; 2022 MasomoPortal. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>