{% include 'main/base.html' %}

<div class="container py-3 text-start">
    <div class="row">
      <div class="col-sm-2  border px-0">
        <div class="ms-3">
          <h5 class="fw-bold text-blue pt-3">Sort By Category</h5>
          <div class="ps-2">

          </div>
        </div>
      </div>

      <div class="col-sm-10 p-4">
         <h2 class="fw-bolder headers text-blue text-left">Products</h2>
         <div class="row">
            {% if products %}
                {% for product in products%}
                <!-- individual card starts -->
                    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
                        <div class="product">
                            <img src="{{product.image.url}}" style="height:200px; object-fit: cover;" alt="">
                            <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                                <li class="icon"><a class="text-reset" href="{% url 'cart_add' product.id %}"><i class="bi bi-bag-check-fill"></i></a></li>
                            </ul>
                        </div>
                        <div class="title pt-4 pb-1">
                            <a class="text-dark text-decoration-none text-blue" href= "{% url 'product-detail' product.id %}">{{product.name}}</a>
                        </div>
                        <div class="d-flex align-content-center justify-content-center">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <div class="price">Kes: {{product.price}}</div>
                    </div>
                <!-- individual card ends -->
                {% endfor %}
           {% else %}
              <div class="text-center h4 text-dark pb-5 text-secondary">No Products to show</div>
             <div>
                 <img src="/static/main/images/undraw_no_data_re_kwbl.svg" class="d-block mx-lg-auto img-fluid" alt="Empty cart!" width="500" height="300" loading="lazy">
             </div>
           {% endif %}
         </div>
        </div>
      </div>
    </div>

<script>
    $(document).ready(function() {
        $(".form-check-input").click(function () {
            $("#CourseListForm").submit()
        });
    });
</script>
<!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><i class="bi bi-linkedin pe-2"></i> <i class="bi bi-facebook pe-2"></i> <i class="bi bi-twitter pe-2"></i> <i class="bi bi-instagram pe-4"></i> <a href="#">Back to top</a></p>
    <p>&copy; 2022 MasomoPortal. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>