{% include 'main/base.html' %}

    <div class="container-fluid mx-0 py-5" id="slider">
        <div class="container">
            <div class="row  py-5 align-items-center ">
              <div class="col-lg-2 offset-lg-1 p-0 overflow-hidden shadow-lg">
              </div>
              <div class="col-lg-7 p-3 p-lg-5 pt-lg-5 py-5">
                <h1 class="fw-bold lh-2 text-light text-center py-5">
                    "Cut production costs by 70% with Zamil Farms' innovative goat breeds"
                </h1>
              </div>
              <div class="col-lg-2 offset-lg-1 p-0 overflow-hidden shadow-lg">
              </div>
            </div>
        </div>
    </div>
{#start of our story#}
    <div class="container my-5 py-5" id="OurStory">
        <h1 class="fw-bolder text-center pt-3"> Our Story</h1>
          <div class="row pt-5">
            <div class="col-sm-6" id="OurStoryImage">
            </div>
            <div class="col-sm-6 px-5 text-wrap" >
                <p class="fs-5">At Zamil Farms, we are committed to providing goat farmers with the tools and resources they need to succeed. By supplying fast-maturing and resilient goat breeds, we aim to help farmers increase their productivity and reduce the costs of raising goats. Our farm practices are held to the highest national standards for livestock production, and we are continuously working towards conforming with global standards as well. By supporting the success of goat farmers, we hope to improve the overall goat meat market and enhance the livelihoods of rural farmers in the process. Our dedication to excellence and sustainability in goat farming makes us the go-to source for top-quality breeds and expert guidance.
                </p>
                <h3 class="pt-3 fw-bold mb-1 f-color-secondary">Our mission</h3>
                    <p>Increase productivity and profitability of goat farming in Kenya.</p>
                <h3 class="pt-4 fw-bold mb-1 f-color-secondary">Our vision</h3>
                    <p>To promote production of good quality goats for rearing and slaughter.</p>
            </div>
          </div>
    </div>
{#end of our story#}
{#start of cut off#}
    <div class=" mb-4 bg-dark bg-secondary">
      <div class="container   text-left">
          <div class="row">
              <div class="col-sm-8 py-5 my-3">
                <h1 class="f-color-secondary fw-bold">Get the best breeds for your <br>goat farm with Zamil Farms</h1>
                <p class="fs-6 text-left pt-2">Cut production costs by 70% with Zamil Farms' innovative <br>goat breeds & Maximize your farm's efficiency</p>
              </div>
              <div class="col-sm-4" id="CutOffGoat">
              </div>
          </div>
      </div>
    </div>
{#end of cut-off#}

    <!-- START THE FEATURETTES -->
    <div class="row featurette py-5 mb-5 justify-content-center">
      <div class="col-sm-4 mx-5 px-4">
          <h4 class="fw-bolder pb-4 text-blue">Links</h4>
<!--          <p> <i class="bi bi-arrow-right-circle-fill text-blue pe-1"></i> About Us</p>-->
          <a class="text-reset" href="#"><p> <i class="bi bi-arrow-right-circle-fill f-color-secondary pe-1"></i> Courses</p></a>
          <a class="text-reset" href="#"><p> <i class="bi bi-arrow-right-circle-fill f-color-secondary pe-1"></i> Become an Instructor</p></a>
         <p><a class="text-reset" href="#"> <i class="bi bi-arrow-right-circle-fill f-color-secondary pe-1"></i> Student Registration</a></p>
      </div>
      <div class="col-sm-4 px-4 text-left" id="ContactUs">
          <h4 class="title fw-bolder ">Contact us</h4>
           <div class="contact-form-wrapper d-flex py-0">
               <form>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Enter Message</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="3"></textarea>
                    </div>
                   <div class="d-grid gap-2">
                      <button class="btn btn-dark bg-secondary border-0 rounded-0" type="button">Button</button>
                    </div>
               </form>
           </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer class="container pt-1 mt-4">
    <p class="float-end"><i class="bi bi-linkedin pe-2"></i> <i class="bi bi-facebook pe-2"></i> <i class="bi bi-twitter pe-2"></i> <i class="bi bi-instagram pe-4"></i> <a href="#">Back to top</a></p>
    <p>&copy; 2022 Zamil Farms. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>