{% include 'main/base.html' %}

    <div class="container-fluid mx-0 py-5" id="slider">
        <div class="container">
            <div class="row  py-5 align-items-center ">
              <div class="col-lg-2 offset-lg-1 p-0 overflow-hidden shadow-lg">
              </div>
              <div class="col-lg-7 p-3 p-lg-5 pt-lg-5 py-5">
                <h1 class="fw-bold lh-2 text-light text-center py-5">
                    Earn more with less effort thanks to Zamil Farms' cost-effective goat breeds
                </h1>
              </div>
              <div class="col-lg-2 offset-lg-1 p-0 overflow-hidden shadow-lg">
              </div>
            </div>
        </div>
    </div>
{#start of our story#}
    <div class="container my-5 py-5" id="OurStory">
        <h6 class="text-center fs-6 f-color-secondary mb-0 "> WHO WE ARE</h6>
        <h1 class="fw-bolder display-4 text-center pt-0 f-color-primary"> About us</h1>
          <div class="row pt-3">
            <div class="col-sm-6" id="OurStoryImage">
            </div>
            <div class="col-sm-6 px-5 text-wrap" >
                <p class="fs-6">At Zamil Farms, we are committed to providing goat farmers with the tools and resources they need to succeed. By supplying fast-maturing and resilient goat breeds, we aim to help farmers increase their productivity and reduce the costs of raising goats. Our dedication to excellence and sustainability in goat farming makes us the go-to source for top-quality breeds and expert guidance.
                </p>
                <h3 class="pt-3 fw-bold mb-1 f-color-secondary">Our mission</h3>
                    <p>Increase productivity and profitability of goat farming in Kenya.</p>
                <h3 class="pt-4 fw-bold mb-1 f-color-secondary">Our vision</h3>
                    <p>To promote production of good quality goats for rearing and slaughter.</p>
            </div>
          </div>
    </div>
{#end of our story#}
{#start of shop#}
    <div class="container my-5 py-5" id="Shop">
        <h6 class="text-center fw-bolder fs-6 f-color-secondary mb-0 ">BEST SELLERS</h6>
        <h1 class="fw-bolder display-4 text-center pb-4 f-color-primary">Our Products</h1>
        <section style="background-color: white;">
          <div class="container py-2">
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                  <img src="/static/main/images/zamil_farms__about_us.jpg"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
                      <div class="d-flex justify-content-start align-items-start h-100">
                        <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">Kes 10,000</span></h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                  <img src="/static/main/images/zamil_farms__about_us.jpg"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
                      <div class="d-flex justify-content-start align-items-start h-100">
                        <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">Kes 10,000</span></h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                  <img src="/static/main/images/zamil_farms__about_us.jpg"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
                      <div class="d-flex justify-content-start align-items-start h-100">
                        <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">Kes 10,000</span></h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="bg-image hover-zoom ripple shadow-1-strong rounded ripple-surface">
                  <img src="/static/main/images/zamil_farms__about_us.jpg"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
                      <div class="d-flex justify-content-start align-items-start h-100">
                        <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">Kes 10,000</span></h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                  <img src="/static/main/images/zamil_farms__about_us.jpg"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
                      <div class="d-flex justify-content-start align-items-start h-100">
                        <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">Kes 10,000</span></h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                  <img src="/static/main/images/zamil_farms__about_us.jpg"
                    class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
                      <div class="d-flex justify-content-start align-items-start h-100">
                        <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">Kes 10,000</span></h5>
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
{#end of shop#}

{#start of cut off#}
    <div class=" mb-4 bg-dark bg-secondary">
      <div class="container text-left">
          <div class="row justify-content-center">
              <div class="col-sm-6 py-5 my-3">
                <h1 class="f-color-secondary fw-bold">Get the best breeds for your goat farm with Zamil Farms</h1>
                <p class="fs-6 text-left pt-2">Cut production costs by 70% with Zamil Farms' innovative goat breeds & Maximize your farm's efficiency</p>
              </div>
              <div class="col-sm-4 p-5" id="CutOffGoat">
              </div>
          </div>
      </div>
    </div>
{#end of cut-off#}

{#start of blog & articles#}
    <div class="container my-5 py-5" id="Shop">
        <h6 class="text-center fw-bolder fs-6 f-color-secondary mb-0 ">RECENT ARTICLES</h6>
        <h1 class="fw-bolder display-4 text-center pb-4 f-color-primary">Our Latest News</h1>
        <div class="container px-4 py-5" id="hanging-icons">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
                </div>
                <div>
                  <h3 class="fs-2">Featured title</h3>
                  <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a href="#" class="btn btn-dark bg-tertiary">Read More</a>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
                </div>
                <div>
                  <h3 class="fs-2">Featured title</h3>
                  <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a href="#" class="btn btn-primary">
                    Primary button
                  </a>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                </div>
                <div>
                  <h3 class="fs-2">Featured title</h3>
                  <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a href="#" class="btn btn-primary">
                    Primary button
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>
{#end of blog & articles#}


    <!-- START THE FEATURETTES -->
    <div class="container">
        <div class="row featurette pb-5 mb-5 justify-content-center border-bottom">
            <div class="border-bottom mb-4"></div>
                  <div class="col-sm-4 mx-5 px-4">
                      <h4 class="fw-bolder pb-4 text-blue f-color-primary">Links</h4>
            <!--          <p> <i class="bi bi-arrow-right-circle-fill text-blue pe-1"></i> About Us</p>-->
                      <a class="text-reset" href="#"><p> <i class="bi bi-arrow-right-circle-fill f-color-secondary pe-1"></i>About Us</p></a>
                      <a class="text-reset" href="#"><p> <i class="bi bi-arrow-right-circle-fill f-color-secondary pe-1"></i>Shop</p></a>
                     <p><a class="text-reset" href="#"> <i class="bi bi-arrow-right-circle-fill f-color-secondary pe-1"></i>Account</a></p>
                  </div>
                  <div class="col-sm-4 px-4 text-left" id="ContactUs">
                      <h4 class="title fw-bolder f-color-primary">Contact us</h4>
                       <div class="contact-form-wrapper d-flex py-0">
                           <form>
                                <div class="mb-3">
                                  <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                                <div class="mb-3">
                                  <label for="exampleFormControlTextarea1" class="form-label">Enter Message</label>
                                  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="3"></textarea>
                                </div>
                               <div class="d-grid gap-2">
                                  <button class="btn btn-dark bg-tertiary border-0 rounded-0" type="button">Send Message</button>
                                </div>
                           </form>
                       </div>
                  </div>
                  <div class="col-sm-4">
                  </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer class="container pt-1 mt-4">
    <p class="float-end"><i class="bi bi-linkedin pe-2"></i> <i class="bi bi-facebook pe-2"></i> <i class="bi bi-twitter pe-2"></i> <i class="bi bi-instagram pe-4"></i> <a href="#">Back to top</a></p>
    <p>&copy; 2022 Zamil Farms. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>